---
const { color, title, subtitle, linkDecor, showFooterContent } = Astro.props;
const textColor = `text-${color}`;
import LandingFooter from './LandingFooter.astro';
---

<section
	class="landing-section h-screen w-screen bg-black text-center relative overflow-hidden"
	data-header-color={color}
>
	<div class="z-30 relative h-full flex flex-col">
		<header>
			<h2 class={`${textColor} pt-40 sm:pt-28 text-[40px] font-medium`}>
				{title}
			</h2>
			<p class={`${textColor} ${linkDecor} text-sm`}>
				{subtitle}
			</p>
		</header>

		<footer class="flex flex-grow justify-end flex-col pb-20">
				<slot name="footer" />
				<!-- Contidionally load footer: -->
				{showFooterContent && <LandingFooter />}
		</footer>
	</div>
	<div class="absolute top-0 bottom-0 h-full w-full z-10">
		<slot name="bg-media" />
	</div>
</section>
